<h2>Support</h2>
<div class="card" style="line-height:1.6;">
  <p>Made with ❤️ and way too much coffee by vavo.</p>
  <p>If you need help or have questions, feel free to reach out or open an issue on GitHub.</p>
  <p>
    Reddit: <a href="https://www.reddit.com/user/no3us" target="_blank">u/no3us</a><br><br>
    GitHub repo: <a href="https://github.com/vavo/lora-pilot" target="_blank">https://github.com/vavo/lora-pilot</a><br>
    DockerHub repo: <a href="https://hub.docker.com/r/notrius/lora-pilot" target="_blank">https://hub.docker.com/r/notrius/lora-pilot</a><br>
    Prebuilt docker image [stable]: <code>docker pull notrius/lora-pilot:stable</code><br>
    Official Runpod template: <a href="https://console.runpod.io/deploy?template=gg1utaykxa&ref=o3idfm0n" target="_blank">https://console.runpod.io/deploy?template=gg1utaykxa&ref=o3idfm0n</a>
  </p>
  <div id="bmc-container" style="margin-top:12px;"></div>
</div>
